.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 0 20px;
}
.profile__photo {
    width: 50px;
    height: 50px;
    margin-right: .4rem;
}
.profile__photo img {
    width: 100%;
    object-fit: contain;
}

.message__details h3 {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 .2rem 0;
    line-height: 1;
}
.message__details span {
    font-weight: 400;
    font-size: 12px;
    margin-left: .5rem;
    color: rgba(97,96,97,1);
}
.message__details p {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
}